<!DOCTYPE HTML>
<html lang="en-US" manifest="static/offline.appcache">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/decogrids-12-gapless.css') }}">
</head>
<body>

    <div class="row">
        <div class ="cell position-0 width-3"><h1>My Simple Calculator</h1></div>
    </div>
    <div class="row">
        <div class ="cell position-0 width-4-1-2"><input class="width-12" type="text" name="txtName" id="txtName"></div>
    </div>
    <div class="row">
        <div class ="cell position-0 width-1"><a class="button" href="#"><span>1</span></a></div>
        <div class ="cell position-1 width-1"><a class="button" href="#"><span>2</span></a></div>
        <div class ="cell position-2 width-1"><a class="button" href="#"><span>3</span></a></div>
        <div class ="cell position-3 width-1"><a class="button" href="#"><span>+</span></a></div>
    </div>
    <div class="row">
        <div class ="cell position-0 width-1"><a class="button" href="#"><span>4</span></a></div>
        <div class ="cell position-1 width-1"><a class="button" href="#"><span>5</span></a></div>
        <div class ="cell position-2 width-1"><a class="button" href="#"><span>6</span></a></div>
        <div class ="cell position-3 width-1"><a class="button" href="#"><span>-</span></a></div>
    </div>
    <div class="row">
        <div class ="cell position-0 width-1"><a class="button" href="#"><span>7</span></a></div>
        <div class ="cell position-1 width-1"><a class="button" href="#"><span>8</span></a></div>
        <div class ="cell position-2 width-1"><a class="button" href="#"><span>9</span></a></div>
        <div class ="cell position-3 width-1"><a class="button" href="#"><span>*</span></a></div>
    </div>
    <div class="row">
        <div class ="cell position-0 width-1"><a class="button" href="#"><span>0</span></a></div>
        <div class ="cell position-1 width-1"><a class="button" href="#"><span>.</span></a></div>
        <div class ="cell position-2 width-1"><a class="button" href="#"><span>ce</span></a></div>
        <div class ="cell position-3 width-1"><a class="button" href="#"><span>/</span></a></div>
    </div>
    <div class="row">
        <div class ="cell position-0 width-1"><a class="button" href="#"><span>on/off</span></a></div>
        <div class ="cell position-1 width-1"><a class="button" href="#"><span>%</span></a></div>
        <div class ="cell position-2 width-1"><a class="button" href="#"><span>c</span></a></div>
        <div class ="cell position-3 width-1"><a class="button" href="#"><span>=</span></a></div>
    </div>
</body>
</html>